<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
  </head>

  <body class="bg-gray-100">

    {{ partial "navigation" . }}

    <div class="container px-5 md:px-0 w-full md:w-2/3 mx-auto">
      {{ block "main" . }}{{ end }}
    </div>


    {{ partial "footer" . }}


    <script src="https://kit.fontawesome.com/c7953f49d9.js" defer crossorigin="anonymous"></script>
  </body>
</html>