{{ define "main" }}

	<main class="my-10 flex flex-col sm:flex-row">
		<section class="w-full flex flex-wrap sm:w-4/6 px-5 text-lg sm:text-xl">
			{{ range $index, $element := where site.RegularPages "Section" "eq" "articles" }}
				{{ .Render "summary" }}
			{{ end }}
		</section>

		<aside class="bg-gray-800 sticky h-full w-full sm:w-2/6 px-5">
			{{ partial "sidebar" . }}
		</aside>
	</main>

{{ end }}