{{ define "main" }}
	<h1>
		{{ .Title }}
	</h1>
	
	<main class="my-10 flex flex-col sm:flex-row">
		<section class="w-full flex flex-wrap sm:w-4/6 px-5 text-lg sm:text-xl">
			{{ .Content }}
		</section>

		<aside class="flex flex-col h-full w-full sm:w-2/6 px-5">
			{{ partial "sidebar" . }}
		</aside>
	</main>

{{ end }}