<footer class="text-gray-600 body-font border-t border-black mt-6 bg-pink-400">
  <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">
    <form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
      <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start">
        <div class="relative sm:w-64 w-40 sm:mr-4 mr-2">
          <div style="display: none;">
            <input type="hidden" name="meta_web_form_id" value="1931024810" />
            <input type="hidden" name="meta_split_id" value="" />
            <input type="hidden" name="listname" value="awlist5760778" />
            <input type="hidden" name="redirect" value="https://www.gabbythetabby.com/thank-you" id="redirect_7fb86baaa7b27e3fa7aa4f0d50d96ac6" />
            <input type="hidden" name="meta_adtracking" value="footer" />
            <input type="hidden" name="meta_message" value="1" />
            <input type="hidden" name="meta_required" value="email" />
            <input type="hidden" name="meta_tooltip" value="" />
          </div>
          <div id="af-form-1931024810" class="af-form">
            <div id="af-body-1931024810" class="af-body af-standards">
              <div class="af-element">
                <div class="af-textWrap">
                  <input placeholder="Email" class="text w-full bg-pink-600 placeholder-white bg-opacity-50 rounded border-none focus:bg-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="awf_field-112115137" type="text" name="email" value="" tabindex="500" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
                </div>
                <div class="af-clear"></div>
              </div>
            </div>
          </div>
          <div style="display: none;">
            <img src="https://forms.aweber.com/form/displays.htm?id=jJzMjAxMLByMDA==" alt="" />
          </div>
        </div>
        <button class="inline-flex text-white bg-pink-700 border-0 py-2 px-6 focus:outline-none hover:bg-rose-600 rounded" name="submit" class="submit" type="submit" value="Submit">Sign Up</button>
      </div>
    </form>
    <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
      {{- range .Site.Menus.social -}}
        <a href="{{ .URL }}" class="text-white ml-3">
          {{ .Pre }}
        </a>
      {{- end -}}
    </span>
  </div>
  <div class="bg-purple-800 mb-20 sm:mb-0">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row items-center">
      <span class="text-white text-sm text-center sm:text-left">© 2016 - {{ .Date.Format "2006" }} Gabby The Tabby</span>
      <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-white text-sm">Built on <a href="https://gohugo.io/" target="_blank"><img src="{{ ((resources.Get "images/hugo.png").Resize "40x q50 png").RelPermalink }}" height="20" width="22" class="inline" alt="Hugo Static Site Generator Logo"></a> with 💖 by <a href="https://www.hyperdrivecodes.com" target="_blank" rel="follow">Hyperdrive Web Development</a>.</span>
    </div>
  </div>
</footer>

<script type="text/javascript">
// Special handling for in-app browsers that don't always support new windows
(function() {
    function browserSupportsNewWindows(userAgent) {
        var rules = [
            'FBIOS',
            'Twitter for iPhone',
            'WebView',
            '(iPhone|iPod|iPad)(?!.*Safari\/)',
            'Android.*(wv|\.0\.0\.0)'
        ];
        var pattern = new RegExp('(' + rules.join('|') + ')', 'ig');
        return !pattern.test(userAgent);
    }

    if (!browserSupportsNewWindows(navigator.userAgent || navigator.vendor || window.opera)) {
        document.getElementById('af-form-1931024810').parentElement.removeAttribute('target');
    }
})();
</script><script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-1931024810")) {
                document.getElementById("af-form-1931024810").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-1931024810")) {
                document.getElementById("af-body-1931024810").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-1931024810")) {
                document.getElementById("af-header-1931024810").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-1931024810")) {
                document.getElementById("af-footer-1931024810").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>