<nav class="fixed z-10 md:sticky bottom-0 md:bottom-auto md:top-0 right-0 left-0 md:mb-5 md:mt-0 mt-5 bg-pink-100 md:bg-gray-50 md:shadow" style="height:85px">
	<div class="flex flex-row justify-evenly items-center h-full w-full">
		
		<a href="{{ .Site.BaseURL }}" class="mr-auto ml-5 hidden md:block">
			<img src='{{- ((resources.Get "images/logo.png").Resize "175x50 q85 png").RelPermalink -}}' width="175" height="50">
		</a>
	
		<div class="flex flex-row">
			{{- range .Site.Menus.main -}}
				<a href="{{ .URL }}" class="mx-5 text-gray-700 font-bold flex flex-col md:inline md:flex-none items-center hover:text-pink-400">
					<span class="inline-block md:hidden">{{ .Pre }}</span>
					<span class="text-xs md:text-xl ">{{ .Name }}</span>
				</a>
			{{- end -}}
		</div>

		<div class="mr-5 ml-auto border-r border-gray-300 pr-5 sm:flex flex-row hidden">
			{{- range .Site.Menus.social -}}
				<a href="{{ .URL }}" class="text-{{ .Identifier }} hover:text-pink-400 ml-3">
					{{ .Pre }}
				</a>
			{{- end -}}
		</div>

		<span class="mr-10 hidden sm:block">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" viewBox="0 0 20 20" fill="currentColor">
			  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
			</svg>
		</span>

	</div>
</nav>